article{
		margin: 0 auto;
		color: yellow;
		font-size: 20px;
		width: 500px;
		text-align: justify;
		
	}
	h1{
		text-align: center;
		text-decoration:underline;
	}
	.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

.highlight{
	background: rgb(8,108,162);
}

.column{
	float: left;
	width:50%;
	padding: 5px;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
img:hover{
	cursor: help;
}
img{
	border-radius: 100px 1px ;
}
