article{
		margin: 0 auto;
		color: yellow;
		font-size: 20px;
		width: 500px;
		text-align: justify;
		
	}
	h1{
		text-align: center;
		text-decoration:underline;
	}
	.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: : 488.5px;
  width: : 372px;
}

.highlight{
	background: rgba(8,108,162,0.9);
}
img{
	border-radius: 100px 5px 100px 5px;
}
